* {
    padding: 0px;
    margin: 0px;
}

/*__________a tag-part____________*/
a {
    text-decoration: none;
    display: inline-block;
}

/*__________ul tag-part____________*/
ul,
ol {
    list-style: none;
}

/*__________contaner-part____________*/
.contaner {
    width: 1320px;
    margin: 0 auto;
}

/*__________box-part____________*/
.box {
    display: flex;
}

/*__________nav-part____________*/
nav .box {
    justify-content: space-between;
    align-items: center;
}

nav {
    background: rgba(250, 227, 182, 1);
    padding: 30px 0px;
}

/*__________manu-part____________*/
nav .contaner .box .manu ul {
    display: flex;
    column-gap: 59px;
    
}

/*__________ui li-part____________*/
nav .contaner .box .manu ul li a {
    font-weight: 600;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: black;
    /*background: red;
    width: 100%;
    height: 2px;
    margin: 50px;*/
     
}
/*__________button-part____________*/
nav .button a {

    font-weight: 600;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: black;
    background: rgba(253, 187, 87, 1);
    padding: 10px 15px;

    border-radius: 10px;
    border: 1px solid transparent;
    transition: .4s;

}

nav .button a:hover {
    background: transparent;
    border-color: rgba(255, 214, 135, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}

nav .button a:last-child {
    margin: 8px;
}

/*__________banner-part____________*/
.banner {
    background: rgba(250, 227, 182, 1);
    padding: 110px 0px;
}

.banner .left {
    width: 50%;
}

.banner .right {
    width: 50%;
    text-align: right;
}

.banner h1 {
    font-weight: 600;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    color: black;
    width: 500px;

}

.banner p {
    font-weight: 400;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    color: black;
    width: 531px;
    padding-top: 38px;
    padding-bottom: 76px;
}

.marn a {
    background: #000;
    padding: 25px 91px;
    font-weight: 600;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s;
}

 .marn a:hover {
    background: transparent;
    border-color: #000;
    color: #000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

}

/*__________Collection-part____________*/
.Collection {
    padding-top: 217px;
    padding-bottom: 106px;
}

.Collection h2 {
    font-family: "Frank Ruhl Libre", serif;
    color: #000;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

/*__________card-part____________*/
.Collection .box {
    justify-content: space-between;
    padding: 106px;
}

.Collection .card {
    width: 349px;
    height: 402px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.Collection .card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.Collection .flow {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 20px;
    transition: 0.4s;
    padding-top: 300px;
    padding-left: 18px;
}

.Collection .card:hover .flow {
    top: 0%;

}

/*__________card button-part____________*/
.Collection .card .flow a {
    background: #ffffff;
    padding: 9px 108px;
    border-radius: 20px;
    color: #000;
    font-weight: 400;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

/*__________fashion-part____________*/
.fashion .box {
    align-items: center;
    position: relative;
}

.fashion .box .left {
    width: 50%;
}

.fashion .box .right {
    width: 50%;
    padding-left:124px ;
    
}
.fashion .right h2{
    font-weight: 700;
    font-size: 64px;
    color: #000;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
    padding-bottom:63px;
}
.fashion .right p{
     font-weight: 600;
    font-size: 20px;
    color: #000;
    font-family: "Poppins", sans-serif;
    width: 437px;
}
/*__________review -part____________*/
.fashion .review{
width: 790px;
height:180px ;
background: rgba(254, 236, 200, 1);
position: absolute;
bottom: -195px;
right: 0;
border-radius: 20px;
z-index:-1 ;
display: flex;
align-items: center;
justify-content: space-around;
padding: 50px 0px;
}
.review h4{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #000;

}
.review p{
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}
.brod{
   border-color: #000 ;
   border-right:1px solid;
   padding-right: 20px;
}
.fashion .brod:last-child{
border: 1px solid transparent;
}

/*__________Product - part start____________*/
.Product{
    transform: translateY(300px);
    background: rgba(207, 164, 133, 1);
    padding-top: 36px;
    padding-bottom: 191px;
}
.Product h2{
      font-weight: 700;
    font-size: 64px;
    color: #ffffff;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
}
.Product p{
      font-weight: 600;
    font-size:24px;
    color: #ffffff;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
    padding: 40px 0;
}
.Product .left {
    width:40%;
    height: 500px;
}
.Product .right {
    width:60%;
    height: 500px;
}
.Product .card{
    width: 366px;
    height:550px;
}
.Product .card .card-img img{
    width: 100%;
    height: 424px;
}
.Product .card .card-img img{
    width: 100%;
    border-top-left-radius:60px;
    border-top-right-radius:60px;
}
.Product .card .card-contant{
    width: 100%;
    background: #fff;
}
/*__________problem____________*/

.card-contant ul{
    display: flex;
}
.Product .card-contant ul li i{
    color: red;
}
